@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&display=swap');

$red:#FF6B6B;
$grey: linear-gradient(100.62deg, #F5F7FA 0%, #C3CFE2 100%);
$purple: linear-gradient(101.77deg, #667EEA 0%, #764BA2 100%);
$yellow:#FFD700;
$footerbg: #1F2937;
$lightgrey:#D1D5DB;

$mainfont:"Inter", sans-serif;
$logofont: "Pacifico", cursive;
