
.detail{
    max-width: 1100px;
    margin: auto;
    padding: 50px;
}
.host{
    padding: 20px 0;
    display: flex;
    gap: 20px;
    align-items: center;
    img{
    width: 10%;
    height: auto;
    border-radius: 50%;
    }
}
.description{
    margin: 30px 0;
    p{font-size: 16px;}
}

//Responsive
@media screen and (max-width: 720px){
    .detail{
    padding: 20px;
    }
}